comment "Configure all required driver sub-systems"

menu "soc related device drivers"

config DRIVERS_CHIP
    bool
    default y

source drivers/rtos-hal/hal/source/common/Kconfig

source drivers/rtos-hal/hal/source/timer/Kconfig

source drivers/rtos-hal/hal/source/rtc/Kconfig

source drivers/rtos-hal/hal/source/watchdog/Kconfig

source drivers/rtos-hal/hal/source/uart/Kconfig

source drivers/rtos-hal/hal/source/lpuart/Kconfig

source drivers/rtos-hal/hal/source/ledc/Kconfig

source drivers/rtos-hal/hal/source/lradc/Kconfig

source drivers/rtos-hal/hal/source/gpadc/Kconfig

source drivers/rtos-hal/hal/source/pwm/Kconfig

source drivers/rtos-hal/hal/source/sysctl/Kconfig

source drivers/rtos-hal/hal/source/gpio/Kconfig

source drivers/rtos-hal/hal/source/dma/Kconfig

source drivers/rtos-hal/hal/source/efuse/Kconfig

source drivers/rtos-hal/hal/source/sound/Kconfig

source drivers/rtos-hal/hal/source/regulator/Kconfig

source drivers/rtos-hal/hal/source/lspsram/Kconfig

source drivers/rtos-hal/hal/source/power/Kconfig

source drivers/rtos-hal/hal/source/thermal/Kconfig

source drivers/rtos-hal/hal/source/spi/Kconfig

source drivers/rtos-hal/hal/source/spi_camera/Kconfig

source drivers/rtos-hal/hal/source/spinor/Kconfig

source drivers/rtos-hal/hal/source/dbi/Kconfig

source drivers/rtos-hal/hal/source/spilcd/Kconfig

source drivers/rtos-hal/hal/source/sdmmc/Kconfig

source drivers/rtos-hal/hal/source/ccmu/Kconfig

source drivers/rtos-hal/hal/source/ce/Kconfig

source drivers/rtos-hal/hal/source/usb/Kconfig

source drivers/rtos-hal/hal/source/mbus/Kconfig

source drivers/rtos-hal/hal/source/twi/Kconfig

source drivers/rtos-hal/hal/source/nand_flash/Kconfig

source drivers/rtos-hal/hal/source/prcm/Kconfig

source drivers/rtos-hal/hal/source/flashc/Kconfig

source drivers/rtos-hal/hal/source/hwspinlock/Kconfig

source drivers/rtos-hal/hal/source/trng/Kconfig

source drivers/rtos-hal/hal/source/msgbox/Kconfig

source drivers/rtos-hal/hal/source/csi/Kconfig

source drivers/rtos-hal/hal/source/rccal/Kconfig

source drivers/rtos-hal/hal/source/disp2/Kconfig

source drivers/rtos-hal/hal/source/g2d_rcq/Kconfig

source drivers/rtos-hal/hal/source/cir/Kconfig

source drivers/rtos-hal/hal/source/cir_tx/Kconfig

source drivers/rtos-hal/hal/source/smartcard/Kconfig

endmenu

menu "other drivers"
config DRIVERS_DRV
    bool
    default y

source drivers/drv/Kconfig

endmenu

