build/
.config
.config.old
rt_system.*
.*.swo
cscope.*
tags
.err
.*.swp
*.dis
*.tmp*
include/generated/
.dbuild/pretty/__pycache__/
!scripts/build/

tools/gcc-arm-melis-eabi-8-2019-q3-update
tools/gcc-arm-none-eabi-8-2019-q3-update
tools/riscv64-elf-x86_64-20201104
tools/Xuantie-900-gcc-elf-newlib-mingw-V2.6.1
tools/gcc-arm-none-eabi-8-2019-q3-update-win32

tools/gcc-arm-melis-eabi-8-2019-q3-update-linux.tar.bz2
tools/gcc-arm-none-eabi-8-2019-q3-update-linux.tar.bz2
tools/gcc-arm-none-eabi-8-2019-q3-update-win32.zip
tools/riscv64-elf-x86_64-20201104.tar.gz
tools/Xuantie-900-gcc-elf-newlib-mingw-V2.6.1-20220906.tar.gz