source drivers/drv/rfkill/Kconfig

source drivers/drv/cpufreq/Kconfig

source drivers/drv/dram/Kconfig

source drivers/drv/wireless/Kconfig

source drivers/drv/leds/Kconfig

source drivers/drv/input/Kconfig

source drivers/drv/mutekey/Kconfig

source drivers/drv/uart/Kconfig

source drivers/drv/bluetooth/Kconfig

source drivers/drv/fdcm/Kconfig