#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
freertos.fex
rtos_arm_*.fex
rtos_riscv_*.fex
rtos_xip_*.fex
*.diff
*.swp
image_header*.cfg
!image_header.template.cfg
