source "components/common/aw/amp/Kconfig"
source "components/common/aw/AudioSystem/Kconfig"
source "components/common/aw/lpvoice/Kconfig"
source "components/common/aw/rpdata/Kconfig"
source "components/common/aw/ringbuffer/Kconfig"
source "components/common/aw/kallsyms/Kconfig"
source "components/common/aw/OpenMax/Kconfig"
source "components/common/aw/test_printf/Kconfig"
source "components/common/aw/rpbuf/Kconfig"
source "components/common/aw/pm/Kconfig"
source "components/common/aw/virt_log/Kconfig"
source "components/common/aw/multi_console/Kconfig"
source "components/common/aw/stackp/Kconfig"
source "components/common/aw/sys_config_script/Kconfig"
source "components/common/aw/iobox/Kconfig"
source "components/common/aw/sysinfo/Kconfig"
source "components/common/aw/console/Kconfig"
source "components/common/aw/usb/Kconfig"
source "components/common/aw/thermal/Kconfig"
source "components/common/aw/pwm_tem/Kconfig"
source "components/common/aw/ota/Kconfig"
source "components/common/aw/ota_v2/Kconfig"
source "components/common/aw/boot_reason/Kconfig"
source "components/common/aw/tinatest/Kconfig"
source "components/common/aw/msgbox_demo/Kconfig"
source "components/common/aw/aactd-lib/Kconfig"
source "components/common/aw/aactd/Kconfig"
source "components/common/aw/network/Kconfig"
source "components/common/aw/wireless/Kconfig"
source "components/common/aw/process_module/Kconfig"
source "components/common/aw/cal_rc_lf/Kconfig"
source "components/common/aw/test_cpufreq/Kconfig"
source "components/common/aw/asr_demo/Kconfig"
