CONFIG_ARCH_SUN20IW2=y
CONFIG_DRIVER_SYSCONFIG=y
# CONFIG_DRIVERS_PRCM is not set
CONFIG_DRIVERS_INTC=y
CONFIG_DRIVERS_GPIO_SHARE_IRQ=y
# CONFIG_DRIVERS_TWI is not set
CONFIG_DRIVERS_MSGBOX=y
CONFIG_DRIVERS_MSGBOX_AMP=y
CONFIG_DRIVERS_HWSPINLOCK=y
CONFIG_SND_CODEC_SUN20IW2_AUDIOCODEC=y
CONFIG_SND_CODEC_AUDIOCODEC_ADC=y
CONFIG_COMPONENTS_AW_TINY_ALSA_LIB=y
CONFIG_COMPONENTS_AW_ALSA_UTILS=y
# CONFIG_STANDBY is not set
# CONFIG_AW_JTAG_DEBUG is not set
CONFIG_MEMTESTER=y
CONFIG_VFPU_TEST=y
CONFIG_VFPU_TEST_CASE1=y
CONFIG_COMPONENTS_MALLOC=y
CONFIG_COMPONENTS_SAFE_PRINTF=y
CONFIG_COMPONENTS_AMP=y
CONFIG_AMP_FUNCCALL_THREADPOOL=y
CONFIG_COMPONENTS_AMP_PM=y
CONFIG_AMP_PMOFM33_STUB=y
CONFIG_AMP_PMOFRV_STUB=y
CONFIG_AMP_PMOFDSP_SERVICE=y
CONFIG_AMP_CONSOLE_STUB=y
CONFIG_AMP_CONSOLE_SERVICE=y
CONFIG_COMPONENTS_AMP_AUDIO=y
CONFIG_AMP_AUDIO_SERVICE=y
CONFIG_AMP_TESTS=y
CONFIG_AMP_TEST_DSP_CALL_M33=y
CONFIG_AMP_TEST_DSP_CALL_RV=y
CONFIG_COMPONENTS_AW_AUDIO_SYSTEM=y
CONFIG_COMPONENTS_AW_AUDIO_SYSTEM_HW=y
CONFIG_COMPONENTS_AW_AUDIO_SYSTEM_HW_PCM=y
CONFIG_COMPONENTS_AW_AUDIO_SYSTEM_TRACK=y
CONFIG_COMPONENTS_AW_AUDIO_SYSTEM_RECORD=y
CONFIG_COMPONENTS_AW_AUDIO_SYSTEM_UTILS=y
CONFIG_COMPONENTS_AW_AUDIO_SYSTEM_PLUGIN=y
CONFIG_COMPONENTS_RPDATA=y
CONFIG_COMPONENTS_RPDATA_DEMO=y
CONFIG_COMPONENTS_RPDATA_AUDIO_DEMO=y
CONFIG_COMPONENTS_OMX_SYSTEM=y
CONFIG_COMPONENTS_OMX_BASE=y
CONFIG_COMPONENTS_OMX_BASE_FILTER=y
CONFIG_COMPONENTS_OMX_BASE_SINK=y
CONFIG_COMPONENTS_OMX_BASE_SOURCE=y
CONFIG_COMPONENTS_OMX_BASE_AUDIO_PORT=y
CONFIG_COMPONENTS_OMX_AUDIO_ECHO_CANCEL=y
CONFIG_COMPONENTS_OMX_DUMP=y
CONFIG_COMPONENTS_OMX_AUDIO_RENDER=y
CONFIG_COMPONENTS_OMX_AUDIO_RECORD=y
CONFIG_COMPONENTS_OMX_AUDIO_UTILS=y
CONFIG_COMPONENTS_PM=y
CONFIG_COMPONENTS_VIRT_LOG=y
CONFIG_COMPONENTS_AW_SYS_CONFIG_SCRIPT=y
CONFIG_COMPONENTS_XTENSA_LIBGLOSS=y
CONFIG_FREERTOS_CLI_CMD_MEM_RW=y
CONFIG_FREERTOS_CLI_CMD_FREE=y
CONFIG_FREERTOS_CLI_CMD_TASK_STATUS=y
CONFIG_FREERTOS_CLI_CMD_FORK=y
CONFIG_FREERTOS_CLI_CMD_TOP=y
CONFIG_COMPONENTS_SPEEXDSP=y
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE_O2=y
