comment "System components"

menu "Allwinner components"

config COMPONENTS_AW
	bool
	default y

source "components/aw/Kconfig"
source "components/common/aw/Kconfig"

endmenu

menu "Thirdparty components"

config COMPONENTS_THIRDPARTY
	bool
	default y

source "components/thirdparty/Kconfig"
source "components/common/thirdparty/Kconfig"

endmenu

