# Ignore uncrustify backups
*.o
*.o.cmd
*.d
*.elf
*.bin
*.swp
*.out

arch/*/lsp/*/*/*.a
arch/*/lsp/*/*.a

.config
.config.old

.buildconfig

tags

include/config/
include/generated/
include/reent.h

XtDevTools/RI-2019.1-linux/
XtDevTools/RI-2020.4-linux/
XtDevTools/RI-2020.5-linux/

pack/dsp_pack
out/*


