toolchain/gcc-linaro-7.2.1-2017.11-x86_64_arm-linux-gnueabi/*
toolchain/riscv64-linux-x86_64-20200528/*
toolchain/riscv64-glibc-gcc-thead_20200702/*
toolchain/gcc-arm-none-eabi-8-2019-q3-update/*

toolchain/gcc-arm-none-eabi-8-2019-q3-update.tar.xz
toolchain/gcc-linaro-7.2.1-2017.11-x86_64_arm-linux-gnueabi.tar.xz
toolchain/riscv64-glibc-gcc-thead_20200702.tar.xz
toolchain/riscv64-linux-x86_64-20200528.tar.xz