CONFIG_ARM=y
CONFIG_CPU_V8M=y
CONFIG_ARCH_SUNXI=y
CONFIG_MACH_SUN20IW2=y

CONFIG_DEFAULT_DEVICE_TREE="sun20iw2p1-external-flash"
CONFIG_CONSOLE_MUX=y
CONFIG_PRE_CONSOLE_BUFFER=n
#CONFIG_OF_BOARD=y
CONFIG_OF_SEPARATE=y
CONFIG_SYS_TEXT_BASE=0xd509000
CONFIG_SUNXI_FDT_ADDR=0xd680000
CONFIG_SUNXI_TURNNING_FLASH=y

#system
CONFIG_SUNXI_DMA=y
CONFIG_SUNXI_IMAGE_HEADER=y
CONFIG_SUNXI_SET_DRAM=y
CONFIG_SUNXI_USE_HPSRAM=y
CONFIG_SUNXI_DRAM_SIZE=20
CONFIG_SUNXI_MALLOC_LEN=0x180000

# Environment
CONFIG_ENV_IS_IN_SUNXI_FLASH=y
CONFIG_SYS_MAXARGS=64
CONFIG_SUNXI_REDUNDAND_ENVIRONMENT=y
CONFIG_SYS_REDUNDAND_ENVIRONMENT=y
CONFIG_SUNXI_ENV_PARTITION="env"
CONFIG_SUNXI_ENV_REDUNDAND_PARTITION="env-redund"
CONFIG_ENV_SIZE=0x1000

#SPI
CONFIG_SPI=y
CONFIG_SUNXI_SPI=y
#CONFIG_SPI_USE_DMA=y
#CONFIG_SPI_FLASH=y
#CONFIG_SPI_FLASH_WINBOND=y
#CONFIG_SPI_FLASH_EON=y
#CONFIG_SPI_FLASH_GIGADEVICE=y
#CONFIG_SPI_FLASH_ISSI=y
#CONFIG_SPI_FLASH_MACRONIX=y
#CONFIG_SPI_FLASH_SPANSION=y
#CONFIG_SPI_FLASH_ATMEL=y
#CONFIG_SPI_FLASH_STMICRO=y
#CONFIG_SPI_FLASH_SST=y
#CONFIG_SPI_FLASH_PUYA=y
#CONFIG_SPI_FLASH_FM=y
#CONFIG_SPI_FLASH_USE_4K_SECTORS=y

#CONFIG_SF_DEFAULT_SPEED=50000000
# BIT(12) BIT(13) (SPI_RX_DUAL|SPI_RX_QUAD)
#CONFIG_SF_DEFAULT_MODE=0x3000

#usb otg config
CONFIG_SUNXI_USB=y
CONFIG_SUNXI_EFEX=y
CONFIG_SUNXI_BURN=y
CONFIG_SUNXI_FAST_BURN_KEY=n
#CONFIG_SUNXI_FASTBOOT=y
CONFIG_SUNXI_USB_DETECT=y

#partition
CONFIG_EFI_PARTITION=y

#image
CONFIG_ANDROID_BOOT_IMAGE=y
CONFIG_SUNXI_IMAGE_VERIFIER=y

#sprite
CONFIG_SUNXI_SPRITE=y
CONFIG_SUNXI_SECURE_STORAGE=y
#CONFIG_SUNXI_COMPARE_IMAGE_AND_FLASH=y
#CONFIG_SUNXI_NOR_SPRITE_TIME_OPTIMIZE=y
CONFIG_SUNXI_BOOT_SELECT=y

#secure feature
#CONFIG_SUNXI_SECURE_BOOT=y
CONFIG_SUNXI_KEYBOX=y
CONFIG_SUNXI_TFM=y

#cmd
CONFIG_CMD_SUNXI_SPRITE=y
CONFIG_CMD_SUNXI_EFEX=y
CONFIG_CMD_SUNXI_BURN=y
CONFIG_CMD_GPT=y
#CONFIG_CMD_FAT=y
CONFIG_CMD_FASTBOOT=y
CONFIG_CMD_SUNXI_DMA=y
CONFIG_CMD_PART=y
#CONFIG_CMD_SF=y
#CONFIG_CMD_SF_TEST=y
CONFIG_CMD_MEMORY=y
#CONFIG_CMD_UNZIP=y
#CONFIG_CMD_MD5SUM=y
#CONFIG_CMD_SUNXI_TIMER=y

#CONFIG_SUNXI_RTOS=y
#CONFIG_SUNXI_RTOS_LOGICAL_OFFSET=256
CONFIG_SUNXI_RTOS=y
CONFIG_SUNXI_RTOS_OFFSET1_ENABLE=y
CONFIG_SUNXI_RTOS_OFFSET1=1024
CONFIG_SUNXI_RTOS_OFFSET2_ENABLE=y
CONFIG_SUNXI_RTOS_OFFSET2=5120
CONFIG_SUNXI_RTOS_LOGICAL_OFFSET=10208

#GPT
CONFIG_SUNXI_NOT_BACKUP_GPT=y

# flash
CONFIG_SUNXI_FLASH=y
#CONFIG_SUNXI_SPINOR=y
CONFIG_SUNXI_NAND=y
CONFIG_SUNXI_COMM_NAND_V1=y
#CONFIG_SUNXI_TURNNING_FLASH=y
CONFIG_SPINOR_BOOT0_REDUND_OFFSET=128

#smc
CONFIG_NOT_USE_OPTEE25=y

CONFIG_SUNXI_TURNNING_DRAM=n
CONFIG_SUNXI_TURNNING_FLASH=n

#CONFIG_SUNXI_FPGA_PLATFORM=y

CONFIG_CRYPTO=y
